Sign in
<br />
<%= form_for @user, {url:"/authentications", method:"post"} do |u| %>
	<%= u.label :email, "Email" %><%=u.text_field :email %><br />
	
	<%= u.label :password, "Password" %><%=u.text_field :password %><br />
	<%= u.submit "Log In" %>
<% end %>

<%= form_for @newuser do |user| %>
	<p>
		<%= user.label :email, "Email" %>
		<%= user.text_field :email %>
	</p>

	<p>	
		<%= user.label :password, "Password" %>
		<%= user.text_field :password %>
	</p>

	<p>
		<%= user.label :password_confirmation, "Password Confirmation" %>
		<%= user.text_field :password_confirmation %>
	</p>

	<p>
		<%= user.label :token, "API Token" %>
		<%= user.text_field :token %>
	</p>

	<p>	
		<%= user.submit %>
	</p>

	<p>
		<%= link_to "Sign in with Google", '/auth/google_oauth2/' %>
	</p>
	
<% end %>
