<!-- Form to put in Project ID -->
<%= form_tag cards_path, :method => 'get' do %>
    <%= text_field_tag :project_id, params[:project_id] %>
    <%= submit_tag "Search Project", :name => nil %>
<% end %>
  
<!-- List Stories -->

<% @pivotal_stories.each do |stories| %>
  <p>
    <!-- Code for Timer -->
    <div class="myStopwatch"></div>
    <script type="text/javascript">
      $(function() {
        $('.myStopwatch').stopwatch('theme-1');
      });
    </script>
    <%= form_for @newcards do |u| %>
      <%=u.text_field :name, :value => stories, :readonly => true %><br />
      <script type="text/javascript">
      $('form').on('submit', function(event){
        event.preventDefault();
        $.ajax('/cards', {
          type: 'POST',
          data: $('form').serialize()
        });
      });
      </script>
      <%= u.submit "Submit Time" %>
    <% end %>
  </p>
<% end %>
<%= button_to "Log out", "/authentications/", :method => :delete %>

<% @cards.each do |card| %>

	<%= card.name %>
	<%= button_to "X", {action: "destroy", id: card.id}, {method: :delete, data:{confirm: "Are you sure??"}, :class => "button"} %>
<% end %>

<br>

<!-- JQuery CDN Library for Timer -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- JQuery for the Timer -->
<script type="text/javascript" src="../assets/jq.stopwatch.min.js"></script>

